body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
}

input {
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background: #ffb347;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ff9800;
}

.weather-box {
    margin-top: 20px;
    display: none;
    /* Hide by default */
}

#weatherIcon {
    width: 100px;
}